{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Senha Alterada
{% endblock %}
{% block head %}
  <style>
    #id_nome {
      color: white;
    }
  </style>
{% endblock %}
{% block main %}
{% include 'sidebar.html' %}
  <div class="container-fluid page-body-wrapper">
    {% include 'topbar.html' %}
  </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div id="content" class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">SENHA ALTERADA COM SUCESSO!</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

