{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Atualizações
{% endblock %}
{% block head %}
  <style>
    #id_nome {
      color: white;
    }
  </style>
{% endblock %}
{% block main %}
{% include 'sidebar.html' %}
  <div class="container-fluid page-body-wrapper">
    {% include 'topbar.html' %}
  </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div id="content" class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Cadastre atualização</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                          {{ form|crispy }}
                        </div>
                        <button type="submit" class="nav-link btn btn-inverse-primary btn-fw" onclick="loading()">Cadastrar</button>
                    </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Atualizações</h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> Nome </th>
                        <th> Estabelecimento </th>
                        <th> Atualizar </th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for vigente in vigentes %}
                        <tr>
                            <td>{{ vigente.nome }}</td>
                            <td>{{ vigente.estabelecimento }}</td>
                            <td>
                              <a class="nav-link btn btn-inverse-success btn-fw"
                              href="{% url 'machine:create_dados' vigente.id %}" role="button" onclick="loading()">Sim</a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
