{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Estabelecimento
{% endblock %}
{% block main %}
{% include 'sidebar.html' %}
  <div class="container-fluid page-body-wrapper">
    {% include 'topbar.html' %}
  </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div id="content" class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Cadastre Nova Venda</h4>
                  <form method="post">
                    {% csrf_token %}
                    <fieldset>
                      <legend class="border-bottom mb-4">Cadastrar Nova Venda</legend>
                      {{ form|crispy }}
                      <div class="row">
                        <div class="col-6 col-sm-3">
                          <a class="nav-link btn btn-inverse-primary btn-fw"
                                   href="{% url 'machine:readvendas' %}" role="button">Voltar</a>
                        </div>
                        <div class="col-6 col-sm-3">
                          <button class="nav-link ml-5 btn btn-inverse-primary btn-fw" data-placement="left">Cadastrar</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
