{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Pendentes
{% endblock %}
{% block head %}
<style>
    .center {
    margin: auto;
    width: 50%;
    text-align: center;
    }
</style>
{% endblock %}
{% block main %}
{% include 'sidebar.html' %}
  <div class="container-fluid page-body-wrapper">
    {% include 'topbar.html' %}
  </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div id="content" class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ vendas.first.estabelecimento.razao_social }}</h4>
                <p class="card-description"><code>Vendas a Crédito</code>
                </p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Estabelecimento</th>
                        <th>Código</th>
                        <th>Bandeira</th>
                        <th>Tipo</th>
                        <th>Data</th>
                        <th>Valor Bruto</th>
                        <th>Valor Calculado</th>
                        <th>Valor Operadora</th>
                        <th>Ajustar Valor</th>
                        <th>Modificar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for venda in vendas %}
                      <tr>
                        <td>{{ venda.estabelecimento.razao_social }}</td>
                        <td>{{ venda.estabelecimento.codigo }}</td>
                        <td><img src="{{ venda.bandeira.logo.url }}" width="30" height="20"></td>
                        <td>{{ venda.tipo }}</td>
                        <td>{{ venda.data_venda.day }}/{{ venda.data_venda.month }}/{{ venda.data_venda.year }}</td>
                        <td>R${{ venda.valor_bruto }}</td>
                        <td></td>R${{ venda.valor_tarifa }}</td>
                        <td>R${{ venda.valor_contestado }}</td>
                        <td>
                            <a class="nav-link btn btn-inverse-warning btn-fw"
                               href="{% url 'machine:ajusta_contestados' venda.id %}" role="button">Sim</a>
                        </td>
                        <td>
                            <a class="nav-link btn btn-inverse-success btn-fw"
                               href="{% url 'machine:updatecontestado' venda.id %}" role="button">Sim</span></a>
                        </td>
                      </tr>
                    {% endfor %}
                      <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ vendas.total_bruto }}</td>
                        <td>{{ vendas.total_tarifa }}</td>
                        <td>{{ vendas.total_contestado }}</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

