{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Dashboard
{% endblock %}
{% block main %}
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:dashboardpendentes' %}">
                            <span data-feather="bar-chart-2"></span>
                            Pendentes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:dashboardprocessados' %}">
                            <span data-feather="bar-chart"></span>
                            Processados<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'machine:dashboardcontestados' %}">
                            <span data-feather="bar-chart"></span>
                            Contestados<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:readvendas' %}">
                            <span data-feather="shopping-cart"></span>
                            Vendas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:readestabelecimentos' %}">
                            <span data-feather="users"></span>
                            Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:createatualizacao' %}">
                            <span data-feather="layers"></span>
                            Inserir arquivo
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Relatórios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrações
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Relatórios Salvos</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Neste mês
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Último trimestre
                        </a>
                    </li>-->
                    {% for arquivo in vigente %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'machine:create_dados' arquivo.id %}">
                                <span data-feather="file-text"></span>
                                Atualizar
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h2 class="text-center">{{ vendas.count }} Vendas Contestadas</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Estabelecimento</th>
                        <th class="text-center">Código</th>
                        <th class="text-center">Bandeira</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Valor Bruto</th>
                        <th class="text-center">Valor Calculado</th>
                        <th class="text-center">Valor Operadora</th>
                        <th class="text-center">Ajustar Valor</th>
                        <th class="text-center">Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                    <tr>
                        <td class="text-center">{{ venda.estabelecimento.razao_social }}</td>
                        <td class="text-center">{{ venda.estabelecimento.codigo }}</td>
                        <td class="text-center"><img src="{{ venda.bandeira.logo.url }}" width="30" height="20"></td>
                        <td class="text-center">{{ venda.tipo }}</td>
                        <td class="text-center">{{ venda.data_venda.day }}/{{ venda.data_venda.month }}/{{ venda.data_venda.year }}</td>
                        <td class="text-center">R${{ venda.valor_bruto }}</td>
                        <td class="text-center">R${{ venda.valor_tarifa }}</td>
                        <td class="text-center">R${{ venda.valor_contestado }}</td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm"
                               href="{% url 'machine:ajusta_contestados' venda.id %}" role="button">Sim</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-success btn-sm"
                               href="{% url 'machine:updatecontestado' venda.id %}" role="button"><span data-feather="file-text"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-center"><b>Total</b></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">{{ vendas.total_bruto }}</td>
                        <td class="text-center">{{ vendas.total_tarifa }}</td>
                        <td class="text-center">{{ vendas.total_contestado }}</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
