{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Dashboard
{% endblock %}
{% block main %}
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'machine:dashboardpendentes' %}">
                            <span data-feather="bar-chart-2"></span>
                            Pendentes<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:dashboardcontestados' %}">
                            <span data-feather="bar-chart"></span>
                            Contestados<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:readvendas' %}">
                            <span data-feather="shopping-cart"></span>
                            Vendas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:readestabelecimentos' %}">
                            <span data-feather="users"></span>
                            Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:createatualizacao' %}">
                            <span data-feather="layers"></span>
                            Inserir arquivo
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Relatórios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrações
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Relatórios Salvos</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Neste mês
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Último trimestre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machine:create_dados' %}">
                            <span data-feather="file-text"></span>
                            Atualizar
                        </a>
                    </li>-->
                    {% if vigente %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'machine:create_dados' %}">
                                <span data-feather="file-text"></span>
                                Atualizar
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h2 class="text-center"><img src="{% static 'images/Cielo.png' %}" width="200" height="100"></h2>
        {% if inicio and fim %}
            <h3 class="text-center">Período: de {{ inicio }} até {{ fim }}</h3>
            <br><br>
            <div class="d-flex bd-highlight">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="text-center card-header">LUCRO PENDENTE</div>
                    <div class="card-body">
                        <h5 class="text-center card-title">R$ {{ object_list.lucro_total }}</h5>
                    </div>
                </div>
                <p class="text-white">x</p>
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="text-center card-header">DÉBITO COM O CLIENTE</div>
                    <div class="card-body">
                        <h5 class="text-center card-title">R$ {{ object_list.total_devido }}</h5>
                    </div>
                </div>
                <p class="text-white">x</p>
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="text-center card-header">TAXAS</div>
                    <div class="card-body">
                        <h5 class="text-center card-title">R$ {{ object_list.total_tarifa }}</h5>
                    </div>
                </div>
                <p class="text-white">x</p>
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="text-center card-header">ENTRADA TOTAL</div>
                    <div class="card-body">
                        {% if object_list.entrada %}
                            <h5 class="text-center card-title">R$ {{ object_list.entrada }}</h5>
                        {% else %}
                            <h5 class="text-center card-title">---</h5>
                        {% endif %}
                    </div>
                </div>
                <p class="text-white">x</p>
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="text-center card-header">ENTRADA HOJE</div>
                    <div class="card-body">
                        {% if object_list.hoje.entrada %}
                            <h5 class="text-center card-title">R$ {{ object_list.hoje.entrada }}</h5>
                        {% else %}
                            <h5 class="text-center card-title">---</h5>
                        {% endif %}
                    </div>
                </div>
                <p class="text-white">x</p>
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="text-center card-header">ENTRADA AMANHÃ</div>
                    <div class="card-body">
                        {% if object_list.amanha.entrada %}
                            <h5 class="text-center card-title">R$ {{ object_list.amanha.entrada }}</h5>
                        {% else %}
                            <h5 class="text-center card-title">---</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br><br>

            <h2 class="text-center">{{ object_list.credito.count }} Vendas a Crédito</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Forma</th>
                            <th class="text-center">Qtde</th>
                            <th class="text-center">Valor Bruto</th>
                            <th class="text-center">Taxa</th>
                            <th class="text-center">Valor Taxa (Banco)</th>
                            <th class="text-center">Valor Devido</th>
                            <th class="text-center">Lucro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list.master.credito_vista %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/Mastercard-Logo.png' %}" width="30" height="20"> Crédito à Vista</td>
                                <td class="text-center">{{ object_list.master.credito_vista.count }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_vista.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.master.credito_vista.last.bandeira.credito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_vista.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_vista.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_vista.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.master.credito_pre %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/Mastercard-Logo.png' %}" width="30" height="20"> Crédito Pré-pago</td>
                                <td class="text-center">{{ object_list.master.credito_pre.count }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_pre.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.master.credito_pre.last.bandeira.credito_pre }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_pre.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_pre.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_pre.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.master.credito_moeda %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/Mastercard-Logo.png' %}" width="30" height="20"> Crédito Conv. Moeda</td>
                                <td class="text-center">{{ object_list.master.credito_moeda.count }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_moeda.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.master.credito_moeda.last.bandeira.credito_moeda }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_moeda.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_moeda.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_moeda.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.master.credito_parcelado %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/Mastercard-Logo.png' %}" width="30" height="20"> Crédito Parcelado</td>
                                <td class="text-center">{{ object_list.master.credito_parcelado.count }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_parcelado.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.master.credito_parcelado.last.bandeira.credito_2x }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_parcelado.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_parcelado.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.master.credito_parcelado.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.visa.credito_vista %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/visa.png' %}" width="30" height="20"> Crédito à Vista</td>
                                <td class="text-center">{{ object_list.visa.credito_vista.count }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_vista.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.visa.credito_vista.last.bandeira.credito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_vista.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_vista.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_vista.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.visa.credito_pre %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/visa.png' %}" width="30" height="20"> Crédito Pré-pago</td>
                                <td class="text-center">{{ object_list.visa.credito_pre.count }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_pre.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.visa.credito_pre.last.bandeira.credito_pre }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_pre.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_pre.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_pre.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.visa.credito_moeda %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/visa.png' %}" width="30" height="20"> Crédito Conv. Moeda</td>
                                <td class="text-center">{{ object_list.visa.credito_moeda.count }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_moeda.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.visa.credito_moeda.last.bandeira.credito_moeda }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_moeda.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_moeda.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_moeda.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.visa.credito_parcelado %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/visa.png' %}" width="30" height="20"> Crédito Parcelado</td>
                                <td class="text-center">{{ object_list.visa.credito_parcelado.count }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_parcelado.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.visa.credito_parcelado.last.bandeira.credito_2x }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_parcelado.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_parcelado.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.visa.credito_parcelado.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.amex.credito_vista %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/american.png' %}" width="30" height="20"> Crédito à Vista</td>
                                <td class="text-center">{{ object_list.amex.credito_vista.count }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_vista.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.amex.credito_vista.last.bandeira.credito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_vista.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_vista.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_vista.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.amex.credito_pre %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/american.png' %}" width="30" height="20"> Crédito Pré-pago</td>
                                <td class="text-center">{{ object_list.amex.credito_pre.count }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_pre.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.amex.credito_pre.last.bandeira.credito_pre }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_pre.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_pre.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_pre.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.amex.credito_moeda %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/american.png' %}" width="30" height="20"> Crédito Conv. Moeda</td>
                                <td class="text-center">{{ object_list.amex.credito_moeda.count }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_moeda.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.amex.credito_moeda.last.bandeira.credito_moeda }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_moeda.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_moeda.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_moeda.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.amex.credito_parcelado %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/american.png' %}" width="30" height="20"> Crédito Parcelado</td>
                                <td class="text-center">{{ object_list.amex.credito_parcelado.count }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_parcelado.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.amex.credito_parcelado.last.bandeira.credito_2x }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_parcelado.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_parcelado.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.amex.credito_parcelado.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.elo.credito_vista %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/elo.png' %}" width="30" height="20"> Crédito à Vista</td>
                                <td class="text-center">{{ object_list.elo.credito_vista.count }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_vista.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.elo.credito_vista.last.bandeira.credito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_vista.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_vista.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_vista.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.elo.credito_pre %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/elo.png' %}" width="30" height="20"> Crédito Pré-pago</td>
                                <td class="text-center">{{ object_list.elo.credito_pre.count }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_pre.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.elo.credito_pre.last.bandeira.credito_pre }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_pre.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_pre.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_pre.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.elo.credito_moeda %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/elo.png' %}" width="30" height="20"> Crédito Conv. Moeda</td>
                                <td class="text-center">{{ object_list.elo.credito_moeda.count }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_moeda.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.elo.credito_moeda.last.bandeira.credito_moeda }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_moeda.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_moeda.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_moeda.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.elo.credito_parcelado %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/elo.png' %}" width="30" height="20"> Crédito Parcelado</td>
                                <td class="text-center">{{ object_list.elo.credito_parcelado.count }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_parcelado.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.elo.credito_parcelado.last.bandeira.credito_2x }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_parcelado.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_parcelado.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.elo.credito_parcelado.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.hiper.credito_vista %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/hipercard.png' %}" width="30" height="20"> Crédito à Vista</td>
                                <td class="text-center">{{ object_list.hiper.credito_vista.count }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_vista.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.hiper.credito_vista.last.bandeira.credito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_vista.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_vista.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_vista.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.hiper.credito_pre %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/hipercard.png' %}" width="30" height="20"> Crédito Pré-pago</td>
                                <td class="text-center">{{ object_list.hiper.credito_pre.count }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_pre.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.hiper.credito_pre.last.bandeira.credito_pre }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_pre.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_pre.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_pre.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.hiper.credito_moeda %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/hipercard.png' %}" width="30" height="20"> Crédito Conv. Moeda</td>
                                <td class="text-center">{{ object_list.hiper.credito_moeda.count }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_moeda.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.hiper.credito_moeda.last.bandeira.credito_moeda }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_moeda.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_moeda.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_moeda.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.hiper.credito_parcelado %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/hipercard.png' %}" width="30" height="20"> Crédito Parcelado</td>
                                <td class="text-center">{{ object_list.hiper.credito_parcelado.count }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_parcelado.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.hiper.credito_parcelado.last.bandeira.credito_2x }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_parcelado.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_parcelado.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.credito_parcelado.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.credito %}
                            <tr>
                                <td class="text-center"><b>Total</b></td>
                                <td class="text-center">{{ object_list.credito.count }}</td>
                                <td class="text-center">R$ {{ object_list.credito.total_bruto }}</td>
                                <td class="text-center">Variável</td>
                                <td class="text-center">R$ {{ object_list.credito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.credito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.credito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <form method="get" action="{% url 'machine:arquiva_pgto_todos' %}">
                    {% csrf_token %}
                    <fieldset>
                        <input type="hidden" name="data_inicio" value="{{ inicio }}">
                        <input type="hidden" name="data_fim" value="{{ fim }}">
                        <input type="hidden" name="tipo" value="Crédito">
                        <button type="submit" class="btn btn-danger btn-sm">Arquivar</button>
                    </fieldset>
                </form>
            </div>
            <br><br>
            <h2 class="text-center">{{ object_list.debito.count }} Vendas a Débito</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Forma</th>
                            <th class="text-center">Qtde</th>
                            <th class="text-center">Valor Bruto</th>
                            <th class="text-center">Taxa</th>
                            <th class="text-center">Valor Taxa (Banco)</th>
                            <th class="text-center">Valor Devido</th>
                            <th class="text-center">Lucro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list.master.debito %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/Mastercard-Logo.png' %}" width="30" height="20"> Débito</td>
                                <td class="text-center">{{ object_list.master.debito.count }}</td>
                                <td class="text-center">R$ {{ object_list.master.debito.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.master.debito.last.bandeira.debito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.master.debito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.master.debito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.master.debito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.visa.debito %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/visa.png' %}" width="30" height="20"> Débito</td>
                                <td class="text-center">{{ object_list.visa.debito.count }}</td>
                                <td class="text-center">R$ {{ object_list.visa.debito.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.visa.debito.last.bandeira.debito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.visa.debito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.visa.debito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.visa.debito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.amex.debito %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/american.png' %}" width="30" height="20"> Débito</td>
                                <td class="text-center">{{ object_list.amex.debito.count }}</td>
                                <td class="text-center">R$ {{ object_list.amex.debito.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.amex.debito.last.bandeira.debito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.amex.debito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.amex.debito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.amex.debito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.elo.debito %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/elo.png' %}" width="30" height="20"> Débito</td>
                                <td class="text-center">{{ object_list.elo.debito.count }}</td>
                                <td class="text-center">R$ {{ object_list.elo.debito.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.elo.debito.last.bandeira.debito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.elo.debito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.elo.debito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.elo.debito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.hiper.debito %}
                            <tr>
                                <td class="text-center"><img src="{% static 'images/hipercard.png' %}" width="30" height="20"> Débito</td>
                                <td class="text-center">{{ object_list.hiper.debito.count }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.debito.total_bruto }}</td>
                                <td class="text-center">%{{ object_list.hiper.debito.last.bandeira.debito_vista }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.debito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.debito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.hiper.debito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                        {% if object_list.debito %}
                            <tr>
                                <td class="text-center"><b>Total</b></td>
                                <td class="text-center">{{ object_list.debito.count }}</td>
                                <td class="text-center">R$ {{ object_list.debito.total_bruto }}</td>
                                <td class="text-center">Variável</td>
                                <td class="text-center">R$ {{ object_list.debito.total_tarifa }}</td>
                                <td class="text-center">R$ {{ object_list.debito.total_devido }}</td>
                                <td class="text-center">R$ {{ object_list.debito.lucro_total }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <form method="get" action="{% url 'machine:arquiva_pgto_todos' %}">
                    {% csrf_token %}
                    <fieldset>
                        <input type="hidden" name="data_inicio" value="{{ inicio }}">
                        <input type="hidden" name="data_fim" value="{{ fim }}">
                        <input type="hidden" name="tipo" value="Débito">
                        <button type="submit" class="btn btn-danger btn-sm">Arquivar</button>
                    </fieldset>
                </form>
            </div>
            <br><br>
            <h2 class="text-center">{{ object_list.count }} Vendas no Período</h2>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Data</th>
                            <th class="text-center">Bandeira</th>
                            <th class="text-center">Forma</th>
                            <th class="text-center">Taxa</th>
                            <th class="text-center">Valor Bruto</th>
                            <th class="text-center">Valor Taxa</th>
                            <th class="text-center">Valor Cobrado</th>
                            <th class="text-center">Lucro</th>
                            <th class="text-center">Valor Devido</th>
                            <th class="text-center">Valor em conta</th>
                            <th class="text-center">Processar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venda in object_list %}
                        <tr>
                            <td class="text-center">{{ venda.data_venda.day }}/{{ venda.data_venda.month }}/{{ venda.data_venda.year }}</td>
                            <td class="text-center"><img src="{{ venda.bandeira.logo.url }}" width="30" height="20"></td>
                            <td class="text-center">{{ venda.tipo }}</td>
                            <td class="text-center">{{ venda.taxa }}</td>
                            <td class="text-center">{{ venda.valor_bruto }}</td>
                            <td class="text-center">R${{ venda.valor_tarifa }}</td>
                            <td class="text-center">R${{ venda.valor_cobranca }}</td>
                            <td class="text-center">R${{ venda.lucro }}</td>
                            <td class="text-center">R${{ venda.valor_devido }}</td>
                            {% if venda.em_conta %}
                            <td class="text-center">
                                <img src="{% static 'images/dinheiro.png' %}" width="30" height="20">
                            </td>
                            {% else %}
                            <td class="text-center">
                                {{ venda.previsao_pgto.day }}/{{ venda.previsao_pgto.month }}/{{ venda.previsao_pgto.year }}
                            </td>
                            {% endif %}
                            <td class="text-center">
                                <a class="btn btn-success btn-sm"
                                   href="{% url 'machine:confirma_pgto' venda.id %}" role="button">Sim</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-center"><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">{{ object_list.total_bruto }}</td>
                            <td class="text-center">{{ object_list.total_tarifa }}</td>
                            <td class="text-center">{{ object_list.total_cobranca }}</td>
                            <td class="text-center">{{ object_list.lucro_total }}</td>
                            <td class="text-center">{{ object_list.total_devido }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if msg %}
            <h3 class="text-center">{{ msg }}</h3>
            <br><br>
            <form method="get" action="{% url 'machine:pesquisapendentes' %}">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label for="dt_in">Data Inicial</label>
                        <input type="text" class="form-control" name="data_inicio" id="dt_in" size="10" placeholder="dd/mm/aaaa">
                    </div>
                    <div class="form-group">
                        <label for="dt_fm">Data Final</label>
                        <input type="text" class="form-control" name="data_fim" id="dt_fm" size="10" placeholder="dd/mm/aaaa">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Pesquisar</button>
                </fieldset>
            </form>
        {% endif %}

    </main>
{% endblock %}
