{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Pendentes
{% endblock %}
{% block head %}
<style>
    .center {
    margin: auto;
    width: 50%;
    text-align: center;
    }
</style>
{% endblock %}
{% block main %}
{% include 'sidebar.html' %}
  <div class="container-fluid page-body-wrapper">
    {% include 'topbar.html' %}
  </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div id="content" class="main-panel">
      <div class="content-wrapper">
        {% if messages %}
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-description"> Insira o período desejado no formato <code>dd/mm/aaaa</code></p>
                <form class="form-inline" method="get" action="{% url 'machine:pesquisapendentes' %}">
                    {% csrf_token %}
                    <fieldset>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <label class="sr-only" for="dt_in">Data Inicial</label>
                                <input type="text" class="form-control" name="data_inicio" id="dt_in" size="10" placeholder="dd/mm/aaaa">
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Até</div>
                                <label class="sr-only" for="dt_fm">Data Final</label>
                                <input type="text" class="form-control" name="data_fim" id="dt_fm" size="10" placeholder="dd/mm/aaaa">
                            </div>
                            <button type="submit" class="nav-link ml-1 btn btn-inverse-primary btn-fw" onclick="loading()">Pesquisar</button>
                        </div>
                    </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if inicio and fim %}
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Período: de {{ inicio }} até {{ fim }}</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Lucro Pendente</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h2 class="mb-0">R${{ total_vendas.lucro_total }}</h2>
                    </div>
                    <h6 class="text-muted font-weight-normal">Lucro com base nos pendentes</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-cash-multiple text-success ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Débito com o cliente</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h2 class="mb-0">R${{ total_vendas.total_devido }}</h2>
                    </div>
                    <h6 class="text-muted font-weight-normal">Valores a serem pagos para o cliente</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-currency-usd-off text-danger ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Taxas</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h2 class="mb-0">R${{ total_vendas.total_tarifa }}</h2>
                    </div>
                    <h6 class="text-muted font-weight-normal">Valores das taxas da operadora</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-bank-minus text-danger ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Entrada Total</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      {% if total_vendas.entrada %}
                        <h2 class="mb-0">R${{ total_vendas.entrada }}</h2>
                      {% else %}
                        <h2 class="mb-0">---</h2>
                      {% endif %}
                    </div>
                    <h6 class="text-muted font-weight-normal">Valores a serem recebidos com base nos pendentes</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-cash-100 text-primary ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Entrada Hoje</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      {% if total_vendas.hoje.entrada %}
                        <h2 class="mb-0">R${{ total_vendas.hoje.entrada }}</h2>
                      {% else %}
                        <h2 class="mb-0">---</h2>
                      {% endif %}
                    </div>
                    <h6 class="text-muted font-weight-normal">Valores a serem recebidos hoje</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-cash-100 text-primary ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 grid-margin">
            <div class="card">
              <div class="card-body">
                <h5>Entrada Amanhã</h5>
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      {% if total_vendas.amanha.entrada %}
                        <h2 class="mb-0">R${{ total_vendas.amanha.entrada }}</h2>
                      {% else %}
                        <h2 class="mb-0">---</h2>
                      {% endif %}
                    </div>
                    <h6 class="text-muted font-weight-normal">Valores a serem recebidos amanhã</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi-cash-100 text-primary ml-auto"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% for vendas in estabelecimentos %}
            {% if vendas.count > 0 %}
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ vendas.first.estabelecimento.razao_social }}</h4>
                    <p class="card-description"><code>Vendas a Crédito</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Bandeira </th>
                            <th> Forma </th>
                            <th> Quantidade </th>
                            <th> Valor Bruto </th>
                            <th> Taxa </th>
                            <th> Valor Taxa (Bco) </th>
                            <th> Valor Devido </th>
                            <th> Lucro </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if vendas.master.credito_vista %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-amex"></span>
                            </td>
                            <td>Crédito à vista</td>
                            <td> {{ vendas.master.credito_vista.count }} </td>
                            <td> R$ {{ vendas.master.credito_vista.total_bruto }} </td>
                            <td> %{{ vendas.master.credito_vista.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.master.credito_vista.total_tarifa }} </td>
                            <td> R$ {{ vendas.master.credito_vista.total_devido }} </td>
                            <td> R$ {{ vendas.master.credito_vista.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.master.credito_pre %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-mc"></span>
                            </td>
                            <td>Crédito Pré-pago</td>
                            <td> {{ vendas.master.credito_pre.count }} </td>
                            <td> R$ {{ vendas.master.credito_pre.total_bruto }} </td>
                            <td> %{{ vendas.master.credito_pre.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.master.credito_pre.total_tarifa }} </td>
                            <td> R$ {{ vendas.master.credito_pre.total_devido }} </td>
                            <td> R$ {{ vendas.master.credito_pre.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.master.credito_moeda %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-mc"></span>
                            </td>
                            <td>Crédito Conv. Moeda</td>
                            <td> {{ vendas.master.credito_moeda.count }} </td>
                            <td> R$ {{ vendas.master.credito_moeda.total_bruto }} </td>
                            <td> %{{ vendas.master.credito_moeda.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.master.credito_moeda.total_tarifa }} </td>
                            <td> R$ {{ vendas.master.credito_moeda.total_devido }} </td>
                            <td> R$ {{ vendas.master.credito_moeda.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.master.credito_parcelado %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-mc"></span>
                            </td>
                            <td>Crédito Parcelado</td>
                            <td> {{ vendas.master.credito_parcelado.count }} </td>
                            <td> R$ {{ vendas.master.credito_parcelado.total_bruto }} </td>
                            <td> %{{ vendas.master.credito_parcelado.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.master.credito_parcelado.total_tarifa }} </td>
                            <td> R$ {{ vendas.master.credito_parcelado.total_devido }} </td>
                            <td> R$ {{ vendas.master.credito_parcelado.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.visa.credito_vista %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-visa"></span>
                            </td>
                            <td>Crédito à vista</td>
                            <td> {{ vendas.visa.credito_vista.count }} </td>
                            <td> R$ {{ vendas.visa.credito_vista.total_bruto }} </td>
                            <td> %{{ vendas.visa.credito_vista.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.visa.credito_vista.total_tarifa }} </td>
                            <td> R$ {{ vendas.visa.credito_vista.total_devido }} </td>
                            <td> R$ {{ vendas.visa.credito_vista.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.visa.credito_pre %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-visa"></span>
                            </td>
                            <td>Crédito Pré-pago</td>
                            <td> {{ vendas.visa.credito_pre.count }} </td>
                            <td> R$ {{ vendas.visa.credito_pre.total_bruto }} </td>
                            <td> %{{ vendas.visa.credito_pre.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.visa.credito_pre.total_tarifa }} </td>
                            <td> R$ {{ vendas.visa.credito_pre.total_devido }} </td>
                            <td> R$ {{ vendas.visa.credito_pre.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.visa.credito_moeda %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-visa"></span>
                            </td>
                            <td>Crédito Conv. Moeda</td>
                            <td> {{ vendas.visa.credito_moeda.count }} </td>
                            <td> R$ {{ vendas.visa.credito_moeda.total_bruto }} </td>
                            <td> %{{ vendas.visa.credito_moeda.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.visa.credito_moeda.total_tarifa }} </td>
                            <td> R$ {{ vendas.visa.credito_moeda.total_devido }} </td>
                            <td> R$ {{ vendas.visa.credito_moeda.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.visa.credito_parcelado %}
                          <tr>
                            <td>
                              <span class="flag-icon flag-icon-visa"></span>
                            </td>
                            <td>Crédito Parcelado</td>
                            <td> {{ vendas.visa.credito_parcelado.count }} </td>
                            <td> R$ {{ vendas.visa.credito_parcelado.total_bruto }} </td>
                            <td> %{{ vendas.visa.credito_parcelado.last.bandeira.credito_vista }} </td>
                            <td> R$ {{ vendas.visa.credito_parcelado.total_tarifa }} </td>
                            <td> R$ {{ vendas.visa.credito_parcelado.total_devido }} </td>
                            <td> R$ {{ vendas.visa.credito_parcelado.lucro_total }} </td>
                          </tr>
                          {% endif %}
                          {% if vendas.amex.credito_vista %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-visa"></span>
                              </td>
                              <td>Crédito à vista</td>
                              <td> {{ vendas.amex.credito_vista.count }} </td>
                              <td> R$ {{ vendas.amex.credito_vista.total_bruto }} </td>
                              <td> % {{ vendas.amex.credito_vista.last.bandeira.credito_vista }} </td>
                              <td> R$ {{ vendas.amex.credito_vista.total_tarifa }} </td>
                              <td> R$ {{ vendas.amex.credito_vista.total_devido }} </td>
                              <td> R$ {{ vendas.amex.credito_vista.lucro_total }} </td>
                            </tr>
                          {% endif %}
                          {% if vendas.amex.credito_pre %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-amex"></span>
                              </td>
                              <td>Crédito Pré-pago</td>
                              <td> {{ vendas.amex.credito_pre.count }} </td>
                              <td> R$ {{ ovendas.amex.credito_pre.total_bruto }} </td>
                              <td> % {{ vendas.amex.credito_pre.last.bandeira.credito_pre }} </td>
                              <td> R$ {{ vendas.amex.credito_pre.total_tarifa }} </td>
                              <td> R$ {{ vendas.amex.credito_pre.total_devido }} </td>
                              <td> R$ {{ vendas.amex.credito_pre.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.amex.credito_moeda %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-amex"></span>
                              </td>
                              <td>Crédito Conv. Moeda</td>
                              <td> {{ vendas.amex.credito_moeda.count }} </td>
                              <td> R$ {{ vendas.amex.credito_moeda.total_bruto }} </td>
                              <td> % {{ vendas.amex.credito_moeda.last.bandeira.credito_moeda }} </td>
                              <td> R$ {{ vendas.amex.credito_moeda.total_tarifa }} </td>
                              <td> R$ {{ vendas.amex.credito_moeda.total_devido }} </td>
                              <td> R$ {{ vendas.amex.credito_moeda.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.amex.credito_parcelado %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-amex"></span>
                              </td>
                              <td>Crédito Parcelado</td>
                              <td> {{ vendas.amex.credito_parcelado.count }} </td>
                              <td> R$ {{ vendas.amex.credito_parcelado.total_bruto }} </td>
                              <td> % {{ vendas.amex.credito_parcelado.last.bandeira.credito_2x }} </td>
                              <td> R$ {{ vendas.amex.credito_parcelado.total_tarifa }} </td>
                              <td> R$ {{ vendas.amex.credito_parcelado.total_devido }} </td>
                              <td> R$ {{ vendas.amex.credito_parcelado.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.elo.credito_vista %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-elo"></span>
                              </td>
                              <td>Crédito à Vista</td>
                              <td> {{ vendas.elo.credito_vista.count }} </td>
                              <td> R$ {{ vendas.elo.credito_vista.total_bruto }} </td>
                              <td> % {{ vendas.elo.credito_vista.last.bandeira.credito_vista }} </td>
                              <td> R$ {{ vendas.elo.credito_vista.total_tarifa }} </td>
                              <td> R$ {{ vendas.elo.credito_vista.total_devido }} </td>
                              <td> R$ {{ vendas.elo.credito_vista.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.elo.credito_pre %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-elo"></span>
                              </td>
                              <td>Crédito Pré-pago</td>
                              <td> {{ vendas.elo.credito_pre.count }} </td>
                              <td> R$ {{ vendas.elo.credito_pre.total_bruto }} </td>
                              <td> %{{ vendas.elo.credito_pre.last.bandeira.credito_pre }} </td>
                              <td> R$ {{ vendas.elo.credito_pre.total_tarifa }} </td>
                              <td> R$ {{ vendas.elo.credito_pre.total_devido }} </td>
                              <td> R$ {{ vendas.elo.credito_pre.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.elo.credito_moeda %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-elo"></span>
                              </td>
                              <td>Crédito Conv. Moeda</td>
                              <td> {{ vendas.elo.credito_moeda.count }} </td>
                              <td> R$ {{ vendas.elo.credito_moeda.total_bruto }} </td>
                              <td> % {{ vendas.elo.credito_moeda.last.bandeira.credito_moeda }} </td>
                              <td> R$ {{ vendas.elo.credito_moeda.total_tarifa }} </td>
                              <td> R$ {{ vendas.elo.credito_moeda.total_devido }} </td>
                              <td> R$ {{ vendas.elo.credito_moeda.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.elo.credito_parcelado %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-elo"></span>
                              </td>
                              <td>Crédito Parcelado</td>
                              <td> {{ vendas.elo.credito_parcelado.count }} </td>
                              <td> R$ {{ vendas.elo.credito_parcelado.total_bruto }} </td>
                              <td> % {{ vendas.elo.credito_parcelado.last.bandeira.credito_2x }} </td>
                              <td> R$ {{ vendas.elo.credito_parcelado.total_tarifa }} </td>
                              <td> R$ {{ vendas.elo.credito_parcelado.total_devido }} </td>
                              <td> R$ {{ vendas.elo.credito_parcelado.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.hiper.credito_vista %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-hc"></span>
                              </td>
                              <td>Crédito à Vista</td>
                              <td> {{ vendas.hiper.credito_vista.count }} </td>
                              <td> R$ {{ vendas.hiper.credito_vista.total_bruto }} </td>
                              <td> % {{ vendas.hiper.credito_vista.last.bandeira.credito_vista }} </td>
                              <td> R$ {{ vendas.hiper.credito_vista.total_tarifa }} </td>
                              <td> R$ {{ vendas.hiper.credito_vista.total_devido }} </td>
                              <td> R$ {{ vendas.hiper.credito_vista.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.hiper.credito_pre %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-hc"></span>
                              </td>
                              <td>Crédito Pré-pago</td>
                              <td> {{ vendas.hiper.credito_pre.count }} </td>
                              <td> R$ {{ vendas.hiper.credito_pre.total_bruto }} </td>
                              <td> % {{ vendas.hiper.credito_pre.last.bandeira.credito_pre }} </td>
                              <td> R$ {{ vendas.hiper.credito_pre.total_tarifa }} </td>
                              <td> R$ {{ vendas.hiper.credito_pre.total_devido }} </td>
                              <td> R$ {{ vendas.hiper.credito_pre.lucro_total }} </td>
                            </tr>
                            {% endif %}
                            {% if vendas.hiper.credito_moeda %}
                            <tr>
                              <td>
                                <span class="flag-icon flag-icon-hc"></span>
                              </td>
                              <td>Crédito Conv. Moeda</td>
                              <td>{{ vendas.hiper.credito_moeda.count }}</td>
                              <td>R$ {{ vendas.hiper.credito_moeda.total_bruto }}</td>
                              <td>%{{ vendas.hiper.credito_moeda.last.bandeira.credito_moeda }}</td>
                              <td>R$ {{ vendas.hiper.credito_moeda.total_tarifa }}</td>
                              <td>R$ {{ vendas.hiper.credito_moeda.total_devido }}</td>
                              <td>R$ {{ vendas.hiper.credito_moeda.lucro_total }}</td>
                            </tr>
                            {% endif %}
                            {% if vendas.hiper.credito_parcelado %}
                              <tr>
                                <td>
                                <span class="flag-icon flag-icon-hc"></span>
                              </td>
                              <td>Crédito Parcelado</td>
                                <td>{{ vendas.hiper.credito_parcelado.count }}</td>
                                <td>R$ {{ vendas.hiper.credito_parcelado.total_bruto }}</td>
                                <td>%{{ vendas.hiper.credito_parcelado.last.bandeira.credito_2x }}</td>
                                <td>R$ {{ vendas.hiper.credito_parcelado.total_tarifa }}</td>
                                <td>R$ {{ vendas.hiper.credito_parcelado.total_devido }}</td>
                                <td>R$ {{ vendas.hiper.credito_parcelado.lucro_total }}</td>
                              </tr>
                            {% endif %}
                            {% if vendas.credito %}
                                <tr>
                                  <td><b>---</b></td>
                                  <td><b>Total</b></td>
                                  <td>{{ vendas.credito.count }}</td>
                                  <td>R$ {{ vendas.credito.total_bruto }}</td>
                                  <td>Variável</td>
                                  <td>R$ {{ vendas.credito.total_tarifa }}</td>
                                  <td>R$ {{ vendas.credito.total_devido }}</td>
                                  <td>R$ {{ vendas.credito.lucro_total }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                      </table>
                      <br>
                      <div class="center">
                        <form method="get" action="{% url 'machine:arquiva_pgto_todos' %}">
                            {% csrf_token %}
                            <fieldset>
                                <input type="hidden" name="data_inicio" value="{{ inicio }}">
                                <input type="hidden" name="data_fim" value="{{ fim }}">
                                <input type="hidden" name="tipo" value="Crédito">
                                <input type="hidden" name="estabelecimento" value="{{ vendas.first.estabelecimento.razao_social }}">
                                <button type="submit" class="nav-link btn btn-inverse-danger btn-fw" onclick="loading()">Arquivar</button>
                            </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ vendas.first.estabelecimento.razao_social }}</h4>
                    <p class="card-description"><code>Vendas a Débito</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Bandeira </th>
                            <th> Forma </th>
                            <th> Quantidade </th>
                            <th> Valor Bruto </th>
                            <th> Taxa </th>
                            <th> Valor Taxa (Bco) </th>
                            <th> Valor Devido </th>
                            <th> Lucro </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% if vendas.master.debito %}
                        <tr>
                          <td>
                            <span class="flag-icon flag-icon-mc"></span>
                          </td>
                          <td>Débito</td>
                          <td>{{ vendas.master.debito.count }}</td>
                          <td>R$ {{ vendas.master.debito.total_bruto }}</td>
                          <td>%{{ vendas.master.debito.last.bandeira.debito_vista }}</td>
                          <td>R$ {{ vendas.master.debito.total_tarifa }}</td>
                          <td>R$ {{ vendas.master.debito.total_devido }}</td>
                          <td>R$ {{ vendas.master.debito.lucro_total }}</td>
                        </tr>
                        {% endif %}
                        {% if vendas.visa.debito %}
                        <tr>
                          <td>
                            <span class="flag-icon flag-icon-visa"></span>
                          </td>
                          <td>Débito</td>
                          <td>{{ vendas.visa.debito.count }}</td>
                          <td>R$ {{ vendas.visa.debito.total_bruto }}</td>
                          <td>%{{ vendas.visa.debito.last.bandeira.debito_vista }}</td>
                          <td>R$ {{ vendas.visa.debito.total_tarifa }}</td>
                          <td>R$ {{ vendas.visa.debito.total_devido }}</td>
                          <td>R$ {{ vendas.visa.debito.lucro_total }}</td>
                        </tr>
                        {% endif %}
                        {% if vendas.amex.debito %}
                        <tr>
                          <td>
                            <span class="flag-icon flag-icon-amex"></span>
                          </td>
                          <td>Débito</td>
                          <td>{{ vendas.amex.debito.count }}</td>
                          <td>R$ {{ vendas.amex.debito.total_bruto }}</td>
                          <td>%{{ vendas.amex.debito.last.bandeira.debito_vista }}</td>
                          <td>R$ {{ vendas.amex.debito.total_tarifa }}</td>
                          <td>R$ {{ vendas.amex.debito.total_devido }}</td>
                          <td>R$ {{ vendas.amex.debito.lucro_total }}</td>
                        </tr>
                        {% endif %}
                        {% if vendas.elo.debito %}
                        <tr>
                          <td>
                            <span class="flag-icon flag-icon-elo"></span>
                          </td>
                          <td>Débito</td>
                          <td>{{ vendas.elo.debito.count }}</td>
                          <td>R$ {{ vendas.elo.debito.total_bruto }}</td>
                          <td>%{{ vendas.elo.debito.last.bandeira.debito_vista }}</td>
                          <td>R$ {{ vendas.elo.debito.total_tarifa }}</td>
                          <td>R$ {{ vendas.elo.debito.total_devido }}</td>
                          <td>R$ {{ vendas.elo.debito.lucro_total }}</td>
                        </tr>
                        {% endif %}
                        {% if vendas.hiper.debito %}
                        <tr>
                          <td>
                            <span class="flag-icon flag-icon-hc"></span>
                          </td>
                          <td>Débito</td>
                          <td>{{ vendas.hiper.debito.count }}</td>
                          <td>R$ {{ vendas.hiper.debito.total_bruto }}</td>
                          <td>%{{ vendas.hiper.debito.last.bandeira.debito_vista }}</td>
                          <td>R$ {{ vendas.hiper.debito.total_tarifa }}</td>
                          <td>R$ {{ vendas.hiper.debito.total_devido }}</td>
                          <td>R$ {{ vendas.hiper.debito.lucro_total }}</td>
                        </tr>
                        {% endif %}
                        {% if vendas.debito %}
                        <tr>
                          <td><b>---</b></td>
                          <td><b>Total</b></td>
                          <td>{{ vendas.debito.count }}</td>
                          <td>R$ {{ vendas.debito.total_bruto }}</td>
                          <td>Variável</td>
                          <td>R$ {{ vendas.debito.total_tarifa }}</td>
                          <td>R$ {{ vendas.debito.total_devido }}</td>
                          <td>R$ {{ vendas.debito.lucro_total }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                      </table>
                      <br>
                      <div class="center">
                        <form method="get" action="{% url 'machine:arquiva_pgto_todos' %}">
                            {% csrf_token %}
                            <fieldset>
                                <input type="hidden" name="data_inicio" value="{{ inicio }}">
                                    <input type="hidden" name="data_fim" value="{{ fim }}">
                                    <input type="hidden" name="tipo" value="Débito">
                                    <input type="hidden" name="estabelecimento" value="{{ vendas.first.estabelecimento.razao_social }}">
                                <button type="submit" class="nav-link btn btn-inverse-danger btn-fw" onclick="loading()">Arquivar</button>
                            </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ vendas.first.estabelecimento.razao_social }}</h4>
                    <p class="card-description"><code>Total de Vendas</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Qtde </th>
                            <th> Valor Bruto </th>
                            <th> Valor Taxa (Bco) </th>
                            <th> Valor Devido </th>
                            <th> Lucro </th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ vendas.count }}</td>
                            <td>R$ {{ vendas.total_bruto }}</td>
                            <td>R$ {{ vendas.total_tarifa }}</td>
                            <td>R$ {{ vendas.total_devido }}</td>
                            <td>R$ {{ vendas.lucro_total }}</td>
                        </tr>
                        </tbody>
                      </table>
                      <br>
                      <div class="center" style="display: flex; justify-content: center;">
                        <div class="row">
                          <form method="get" action="{% url 'machine:pesquisa_pdf' %}">
                              {% csrf_token %}
                              <fieldset>
                                  <input type="hidden" name="data_inicio" value="{{ inicio }}">
                                  <input type="hidden" name="data_fim" value="{{ fim }}">
                                  <input type="hidden" name="estabelecimento" value="{{ vendas.first.estabelecimento }}">
                                  <input type="hidden" name="operadora" value="{{ operadora }}">
                                  <button type="submit" class="nav-link btn btn-inverse-warning btn-fw">Relatório</button>
                              </fieldset>
                          </form>
                        </div>
                        <div class="row ml-5">
                          <form method="get" action="{% url 'machine:pesquisa_detalhada_pdf' %}">
                              {% csrf_token %}
                              <fieldset>
                                  <input type="hidden" name="data_inicio" value="{{ inicio }}">
                                  <input type="hidden" name="data_fim" value="{{ fim }}">
                                  <input type="hidden" name="estabelecimento" value="{{ vendas.first.estabelecimento }}">
                                  <input type="hidden" name="operadora" value="{{ operadora }}">
                                  <button type="submit" class="nav-link btn btn-inverse-warning btn-fw">Relatório Detalhado</button>
                              </fieldset>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
        {% endfor %}
              <br>
              <br>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">TODAS AS VENDAS</h4>

                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Qtde </th>
                            <th> Valor Bruto </th>
                            <th> Valor Taxa (Bco) </th>
                            <th> Valor Devido </th>
                            <th> Lucro </th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ total_vendas.count }}</td>
                            <td>R$ {{ total_vendas.total_bruto }}</td>
                            <td>R$ {{ total_vendas.total_tarifa }}</td>
                            <td>R$ {{ total_vendas.total_devido }}</td>
                            <td>R$ {{ total_vendas.lucro_total }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% endif %}
      </div>
    </div>

{% endblock %}
