{% load static %}
<!doctype html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block titulo %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-jvectormap.css' %}">
        <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/styleroot.css' %}">
        <link rel="shortcut icon" href="{% static 'images/logo/logo_mini.png' %}" />
        {% block head %}
        {% endblock %}
    </head>
<body>
    <div class="container-scroller">

        {% block main %}
        {% endblock %}
    </div>
    <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/progressbar.min.js' %}"></script>
    <script src="{% static 'js/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'js/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/scriptroot.js' %}"></script>
</body>
</html>